/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }

	code {
		padding: 3px 6px;
		font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
		background: #fcfcfc;
		border: 1px solid #e4e4e4;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		color: #3f8faf;
	}


/* #Basic Styles
================================================== */
	body {
		background: url(../img/bg/noise.png) repeat;
		font-size: 13px;
		line-height: 21px;
		color: #666;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
	}
 
	#wrapper {
		background: #fff;
		width: 1020px;
		margin: 0 auto;
		padding: 0;
		box-shadow:  0px 0px 4px 0px rgba(0, 0, 0, 0.2);
	}
	
	/* Main Font */
	body, h1, h2, h3, h4, h5, h6,
	.button, input[type="button"], input[type="submit"],
	input[type="text"], input[type="password"], input[type="email"], textarea, select {
		font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	

/* Basic Alginment
================================================== */
	#wrapper img {
		height: auto;
		max-width: 100%;
	}
	
	.columns.google-map img {
		max-width: none;
	}

	img, object, video {
		height: auto;
		display:block;
	}
	
	img {
		width: auto;
		border: 0;
		-ms-interpolation-mode: bicubic;
	}

	/* Flexible Embeds */
	.embed {
		position: relative;
		padding: 0px;
		padding-bottom: 56.25%; /* 16/9 ratio */
		height: 0;
		overflow: hidden;
	}

	.embed iframe,
	.embed object,
	.embed embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.image-left {
		float: left;
		margin: 5px 15px 8px 0;
	}
	
	.image-right {
		float:right;
		margin: 5px 0 8px 15px;
	}
	
	.image-right,
	.image-left {
		 padding: 5px;
		 border: 1px solid #e0e0e0;
		 max-width: 100%;
		-webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
		box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
	}

/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #333;
		font-weight: 600;
		letter-spacing: -0.2px;
	}
	
	h2 span, h3 span {
		color: #888;
		font-weight: 200;
	}
		
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 28px; line-height: 50px; }
	h2 { font-size: 22px; line-height: 30px; }
	h3 { font-size: 16px; line-height: 34px; }
	h4 { font-size: 14px; line-height: 30px; }
	h5 { font-size: 12px; line-height: 24px; }
	h6 { font-size: 10px; line-height: 21px; }

	p { margin: 0 0 15px 0; line-height: 21px;}
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: 600; color: #333; }
	small { font-size: 80%; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
	a, a:visited { color: #7cb600; text-decoration: none; outline: 0; -webkit-transition: color 0.1s ease-in-out; -moz-transition: color 0.1s ease-in-out; -o-transition: color 0.1s ease-in-out; -transition: color 0.1s ease-in-out; }
	a:hover, a:focus { color: #888; }
	a b, span b { font-family: Verdana, Tahoma; font-weight: normal; opacity: 0.5;}
	span b { line-height: 14px; }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin: 0; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul {}
	ul ul li, ul ol li,
	ol ol li, ol ul li {}
	li { line-height: 18px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }


/* #Forms
================================================== */

	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #e0e0e0;
		padding: 8px 9px;
		outline: none;
		font-size: 13px;
		color: #888;
		margin: 0;
		max-width: 100%;
		display: block;
		background: #fff;
		-webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
		box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
		border-radius: 2px;
		}
	select {
		padding: 0;}
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #d6d6d6;
		color: #888; 
		}
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px; 
		font-weight: normal;
		margin-bottom: 5px;}
	select {
		 }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }








/*
* Based on Skeleton by Dave Gamache (www.getskeleton.com)
* Modified by Vasterad
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */


/* #Base 960 Grid
================================================== */

    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .container.floated                          { width: 1020px; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    #content { overflow: hidden; }
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }
    .container .floated                         { float: left; display: inline; margin: 0; padding: 0 40px; }
    .blank.floated                              { float: left; display: inline; margin: 0; width: 960px; padding: 0 30px; border-top: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; background: #fcfcfc; -webkit-box-shadow: inset 0px 2px 0px 0px #f7f7f7, inset 0px -2px 0px 0px #f7f7f7; box-shadow: inset 0px 2px 0px 0px #f7f7f7, inset 0px -2px 0px 0px #f7f7f7;}


    /* Equal Sidebar */
    .floated.sidebar { position: absolute; top: 0; bottom: 0; }
    .floated.sidebar.right { float-right; right: 0; left: auto; }
    .floated.sidebar.left { float: left; left: 0; right: auto; }
    .floated.right { float: right; }


    /* Base Grid */
    .container .one.column,
    .container .one.columns,
    .container .one.floated                     { width: 40px;  }
    
    .container .two.columns,
    .container .two.floated                     { width: 100px; }
    
    .container .three.columns,
    .container .three.floated                   { width: 160px; }
    
    .container .four.columns,
    .container .four.floated                    { width: 220px; }
    
    .container .five.columns,
    .container .five.floated                    { width: 280px; }
    
    .container .six.columns,
    .container .six.floated                     { width: 340px; }
    
    .container .seven.columns,
    .container .seven.floated                   { width: 400px; }
    
    .container .eight.columns,
    .container .eight.floated                   { width: 460px; }
    
    .container .nine.columns,
    .container .nine.floated                    { width: 520px; }
    
    .container .ten.columns,
    .container .ten.floated                     { width: 580px; }
    
    .container .eleven.columns,
    .container .eleven.floated                  { width: 640px; }
    
    .container .twelve.columns,
    .container .twelve.floated                  { width: 700px; }
    
    .container .thirteen.columns,
    .container .thirteen.floated                { width: 760px; }
    
    .container .fourteen.columns,
    .container .fourteen.floated                { width: 820px; }
    
    .container .fifteen.columns,
    .container .fifteen.floated                 { width: 880px; }
    
    .container .sixteen.columns,
    .container .sixteen.floated                 { width: 940px; }
    

    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }


    /* Offsets */
    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }


    /* Pricing Tables */
    .five-tables .pricing-table                 { width: 187px; }
    .four-tables .pricing-table                 { width: 234px; }
    .three-tables .pricing-table                { width: 312px; }
    .two-tables .pricing-table                  { width: 469px; }
    

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 678px; }
        .container.floated                          { width: 714px; }
        
        .container .column,
        .container .columns                         { margin-left: 7px; margin-right: 7px; }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 7px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 7px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }
        
        
        .container .floated                         { margin: 0; padding: 0 28px; }
        .blank.floated                              { width: 678px; padding: 0 18px; }
        
        .container .one.column,
        .container .one.columns,
        .container .one.floated                     { width: 28px; }
        
        .container .two.columns,
        .container .two.floated                     { width: 70px; }
        
        .container .three.columns,
        .container .three.floated                   { width: 112px; }
        
        .container .four.columns,
        .container .four.floated                    { width: 154px; }
        
        .container .five.columns,
        .container .five.floated                    { width: 196px; }
        
        .container .six.columns,
        .container .six.floated                     { width: 238px; }
        
        .container .seven.columns,
        .container .seven.floated                   { width: 280px; }
        
        .container .eight.columns,
        .container .eight.floated                   { width: 322px; }
        
        .container .nine.columns,
        .container .nine.floated                    { width: 364px; }
        
        .container .ten.columns,
        .container .ten.floated                     { width: 406px; }
        
        .container .eleven.columns,
        .container .eleven.floated                  { width: 448px; }
        
        .container .twelve.columns,
        .container .twelve.floated                  { width: 490px; }
        
        .container .thirteen.columns,
        .container .thirteen.floated                { width: 532px; }
        
        .container .fourteen.columns,
        .container .fourteen.floated                { width: 574px; }
        
        .container .fifteen.columns,
        .container .fifteen.floated                 { width: 616px; }
        
        .container .sixteen.columns,
        .container .sixteen.floated                 { width: 658px; }

        .container .one-third.column                { width: 212px; }
        .container .two-thirds.column               { width: 438px; }


        /* Offsets */
        .container .offset-by-one                   { padding-left: 48px; }
        .container .offset-by-two                   { padding-left: 96px; }
        .container .offset-by-three                 { padding-left: 144px; }
        .container .offset-by-four                  { padding-left: 192px; }
        .container .offset-by-five                  { padding-left: 240px; }
        .container .offset-by-six                   { padding-left: 288px; }
        .container .offset-by-seven                 { padding-left: 336px; }
        .container .offset-by-eight                 { padding-left: 384px; }
        .container .offset-by-nine                  { padding-left: 432px; }
        .container .offset-by-ten                   { padding-left: 480px; }
        .container .offset-by-eleven                { padding-left: 528px; }
        .container .offset-by-twelve                { padding-left: 576px; }
        .container .offset-by-thirteen              { padding-left: 624px; }
        .container .offset-by-fourteen              { padding-left: 672px; }
        .container .offset-by-fifteen               { padding-left: 720px; }


        /* Pricing Tables */
        .five-tables .pricing-table                 { width: 130px; }
        .four-tables .pricing-table                 { width: 163px; }
        .three-tables .pricing-table                { width: 218px; }
        .two-tables .pricing-table                  { width: 328px; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container,
        .container.floated { width: 260px; }
        
        .container .columns,
        .container .column { margin: 0; }
        .container .floated { float: left; padding: 0 30px; }
        .floated.sidebar { position: relative; }

        .container .one.column,
        .container .one.columns,
        .container .one.floated,
        .container .two.columns,
        .container .two.floated,
        .container .three.columns,
        .container .three.floated,
        .container .four.columns,
        .container .four.floated,
        .container .five.columns,
        .container .five.floated,
        .container .six.columns,
        .container .six.floated,
        .container .seven.columns,
        .container .seven.floated,
        .container .eight.columns,
        .container .eight.floated,
        .container .nine.columns,
        .container .nine.floated,
        .container .ten.columns,
        .container .ten.floated,
        .container .eleven.columns,
        .container .eleven.floated,
        .container .twelve.columns,
        .container .twelve.floated,
        .container .thirteen.columns,
        .container .thirteen.floated,
        .container .fourteen.columns,
        .container .fourteen.floated,
        .container .fifteen.columns,
        .container .fifteen.floated,
        .container .sixteen.columns,
        .container .sixteen.floated,
        .container .one-third.column,
        .container .two-thirds.column { width: 260px; }


        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }


        /* Pricing Tables */
        .five-tables .pricing-table,
        .four-tables .pricing-table,
        .three-tables .pricing-table,
        .two-tables .pricing-table { width: 260px; }
        
    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 360px; }

        .container .columns,
        .container .column { margin: 0; }
        .container .floated { float: left; padding: 0 30px; }
        .floated.sidebar { position: relative; }

        .container .one.column,
        .container .one.columns,
        .container .one.floated,
        .container .two.columns,
        .container .two.floated,
        .container .three.columns,
        .container .three.floated,
        .container .four.columns,
        .container .four.floated,
        .container .five.columns,
        .container .five.floated,
        .container .six.columns,
        .container .six.floated,
        .container .seven.columns,
        .container .seven.floated,
        .container .eight.columns,
        .container .eight.floated,
        .container .nine.columns,
        .container .nine.floated,
        .container .ten.columns,
        .container .ten.floated,
        .container .eleven.columns,
        .container .eleven.floated,
        .container .twelve.columns,
        .container .twelve.floated,
        .container .thirteen.columns,
        .container .thirteen.floated,
        .container .fourteen.columns,
        .container .fourteen.floated,
        .container .fifteen.columns,
        .container .fifteen.floated,
        .container .sixteen.columns,
        .container .sixteen.floated,
        .container .one-third.column,
        .container .two-thirds.column { width: 360px; }
        
        /* Pricing Tables */
        .five-tables .pricing-table,
        .four-tables .pricing-table,
        .three-tables .pricing-table,
        .two-tables .pricing-table { width: 360px; }

    }

/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }

/*
 * icons style
 */

/* =================================================================== */
/* Green #7cb600
====================================================================== */

.ls-fullwidth .ls-nav-next:hover,
.ls-fullwidth .ls-nav-prev:hover { background-color: #7cb600; }
.caption-color { background: #7cb600; }
.flexslider .flex-next:hover,
.flexslider .flex-prev:hover { background-color: #7cb600; }
.arl.active:hover,
.arr.active:hover { background-color: #7cb600; }
.portfolio-item:hover > figure > .item-description { border-top: 5px solid #7cb600; }
.highlight.color,
.skill-bar-content { background: #7cb600; }
.dropcap,
.tabs-nav li.active a,
#breadcrumbs ul li a { color: #7cb600; }
.search-btn-widget { background-color: #7cb600; }
.tags a:hover { background: #7cb600; }
.latest-post-blog img:hover { background: #7cb600; border: 1px solid #7cb600; }
.flickr-widget-blog a:hover { border: 5px solid #7cb600; }
.selected { color: #7cb600 !important; }
.filters-dropdown.active,
#portfolio-navi a:hover { background-color: #7cb600; }
.button.gray:hover,
.button.light:hover,
.button.color,
input[type="button"],
input[type="submit"],
input[type="button"]:focus,
input[type="submit"]:focus { background:#7cb600; }
.tabs-nav li.active a { border-top: 1px solid #7cb600; }
.ui-accordion .ui-accordion-header-active:hover,
.ui-accordion .ui-accordion-header-active { color: #7cb600; }
.ui-accordion-icon-active { background-color: #7cb600; }
.trigger.active a { color: #7cb600; }
.trigger.active .toggle-icon { background-color: #7cb600; }
.testimonials-author { color: #7cb600; }
.pagination .current { background: #7cb600 !important; }
.flickr-widget a:hover { border-color: #7cb600; }
.increase-value { background: #7cb600; }
.ui-widget-header { background: #7cb600; }

#top-line {
	width: 100%;
	background: #7cb600;
	height: 5px;
	display: block;
}
#logo a img {
	float: left;
	width: 70px;
	height: 70px;
	margin: 30px 0px 30px 20px;
}
#tagline {
	color: #888;
	border-left: 1px solid #e8e8e8;
	margin: 45px 0 0 20px;
	padding: 5px 0 5px 20px;
	float: left;
	font-size: 22px;
}
#navigation {
	height: 49px;
	width: 1040px;
	margin-left: -10px;
	background-color: #4c4c4c;
	float: left;
	left: 1px;
}
.left-corner {
border-color: transparent #888 transparent transparent;
border-width: 0 9px 9px 0;
float: left;
left: 1px;
}
.left-corner, .right-corner {
display: block;
width: 0;
height: 0;
border-style: solid;
position: relative;
top: 49px;
opacity: .58;
filter: alpha(opacity=58);
}
.right-corner {
border-color: #888 transparent transparent transparent;
border-width: 9px 9px 0 0;
float: right;
right: 1px;
}
.menu, .menu ul {
margin: 0;
padding: 0;
list-style: none;
}
#navigation>ul>li:first-child {
	margin-left: -8px;
}
#current {
background-color: #7cb600; 
border-right: 1px solid #7cb600;
margin-left: -1px;
padding-left: 21px;
z-index: 8;
position: relative;
}
.menu>li {
float: left;
}
.menu li, .menu ul a {
position: relative;
}
ul.menu li a {
-webkit-transition: background-color 80ms ease-in-out;
-moz-transition: background-color 80ms ease-in-out;
-o-transition: background-color 80ms ease-in-out;
-ms-transition: background-color 80ms ease-in-out;
transition: background-color 80ms ease-in-out;
}
.menu>li>a {
color: #fff;
font-weight: 400;
font-size: 13px;
line-height: 18px;
padding: 15px 20px 16px 20px;
display: block;
}
.menu>li>a:hover {
border-right: 1px solid #707070;
margin: 0 0 0 -1px;
}
.menu>li:hover>a {
background-color: #707070;
border-left: none;
padding-left: 21px;
border-right: 1px solid #707070;
margin: 0 0 0 -1px;
}
.menu>li>a {
border-right: 1px solid #666;
}
.menu ul {
background-color: #fff;
border: 1px solid #e0e0e0;
border-top: none;
left: -1px;
z-index: 999;
border-radius: 0 0 2px 2px;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
.menu ul {
position: absolute;
display: none;
min-width: 130px;
background-color: #fff;
border: 1px solid #e0e0e0;
border-top: none;
left: -1px;
z-index: 999;
border-radius: 0 0 2px 2px;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
.menu ul a {
color: #777;
font-size: 12px;
line-height: 18px;
padding: 9px 12px;
border-top: 1px solid #e6e6e6;
}
.menu li>a {
display: block;
}
.menu a {
text-decoration: none;
}
.menu ul a:hover {
background-color: #f5f5f5;
}
#layerslider-container {
background: url(../img/layerslider-loader.gif) no-repeat center;
}
.carousel {
position: relative;
width: 1020px;
height: 450px;
margin: 0px auto;
overflow: hidden;
}
#carousel-wrapper {
position: relative;
background-position: center center;
}
#layerslider{
	width: 20000em;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}
#layerslider li{
	float: left;
}
.ls-layer{
	position: relative;
}
a.ls-nav-prev,a.ls-nav-next {
position: absolute;
top: 40%;
width: 40px;
height: 40px;
margin-top: -20px;
font-size: 60px;
font-weight: 100;
line-height: 30px;
color: #ffffff;
text-align: center;
background: #222222;
opacity: 0.8;
filter: alpha(opacity=80);
padding: 15px 0px;
}
.ls-nav-prev:hover,.ls-nav-next:hover{
	background-color: #7cb600;
}
.ls-nav-next{
	right: 0px;
	left: auto;
}
.carousel-caption {
position: absolute;
padding: 5px;
color: #fff;
border-radius: 2px;
box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.1);
background: #7cb600;
left: 5px;
top: 80%;
}
.carousel-caption a{
	color: #fff;
}
.icon-box-container {
margin: 40px 0 45px 0;
float: left;
}
.icon-box i {
float: left;
font-size: 31px;
margin: 8px 0 0 0;
color: #404040;
}
.share-list{
	margin: 23px 0 13px 0;
float: right;
}
#footer, #footer p, #footer a {
color: #DDD;
}
#footer {
background: #4C4C4C;
width: 1020px;
padding: 30px 0 31px 0;
margin: 0 auto;
font-size: 12px;
}
#footer h4 {
padding: 0;
margin: 0 0 15px 0;
font-size: 14px;
color: white;
}
.contact-details-alt li {
margin: 0 0 15px 0;
}
.contact-details-alt p {
margin: -2px 0 0 22px;
line-height: 18px;
}
.contact-details-alt li p strong {
color: white;
float: left;
margin: 0 5px 5px 0;
}
#footer-bottom {
background: #424242;
width: 1020px;
padding: 15px 0;
margin: 0 auto;
font-size: 12px;
}
.follow-list{
	float: right;
}
.copyright {
color: #AAA;
}
.copyright a, .copyright span {
color: #EEE!important;
}
#sub-menu {
float: right;
font-size: 11px;
}
#sub-menu ul li:first-child {
border: none;
padding-left: 0;
}
#sub-menu ul li {
display: inline-block;
border-left: 1px solid #505050;
margin: 0;
padding: 0 8px 0 8px;
line-height: 12px;
}
#sub-menu ul li a {
color: #AAA;
}
.page-title h2 {
font-weight: 400;
padding: 30px 0;
float: left;
}
.page-title {
-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, .03);
box-shadow: 0 2px 0 0 rgba(0, 0, 0, .03);
border-bottom: 1px solid #E0E0E0;
}
.floated.sidebar.right {
background: #FCFCFC;
margin-left: -1px;
border-left: 1px solid #E0E0E0;
-webkit-box-shadow: inset 2px 0 0 0 rgba(0, 0, 0, .03),inset 0 2px 0 0 rgba(0, 0, 0, .03);
box-shadow: inset 2px 0 0 0 rgba(0, 0, 0, .03),inset 0 2px 0 0 rgba(0, 0, 0, .03);
}
.download-list a {
display: block;
width: 242px;
height: 42px;
line-height: 42px;
text-indent: 10px;
color: white;
}
.download-list li {
margin: 20px;
}
.chrome-down{
	background: url("../img/downloadChrome.png") no-repeat;
}
.qihu360sc-down{
	background: url("../img/download360sc.png") no-repeat;
}
.qihu360fast-down{
	background: url("../img/download360speed.png") no-repeat;
}
.firefox-down{
	cursor: default;
	background: url("../img/downloadFF-disable.png") no-repeat;
}
.ie-down{
	cursor: default;
	background: url("../img/downloadIE-disable.png") no-repeat;
}

.floated.sidebar.left {
background: #FCFCFC;
margin-right: -1px;
border-right: 1px solid #E0E0E0;
-webkit-box-shadow: inset -2px 0 0 0 rgba(0, 0, 0, .03),inset 0 2px 0 0 rgba(0, 0, 0, .03);
box-shadow: inset -2px 0 0 0 rgba(0, 0, 0, .03),inset 0 2px 0 0 rgba(0, 0, 0, .03);
}
.wall {
background-color: #FCFCFC;
border: 1px solid #E0E0E0;
padding: 20px;
-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, .03);
box-shadow: 0 2px 0 0 rgba(0, 0, 0, .03);
}


@media only screen and (min-width: 960px) {
	.jcarousel {
		height: 317px
	}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#wrapper, #footer, #footer-bottom {
		width: 714px
	}
	#navigation {
		width: 734px
	}
	.contact-details-alt li p strong {
		margin: 0 5px 0 0
	}
	.line {
		margin: 0 0 0 28px;
		padding: 0 56px 0 0
	}
	.widget-search input {
		width: 134px
	}
	.cut {
		display: none
	}
	.sidebar {
		padding: 28px 0
	}
	.post {
		margin: 24px 0
	}
	ol li ol.childlist.comment-des {
		float: right;
		width: 70 %
	}
	.comment-des {
		float: right;
		width: 73 %
	}
	#contact textarea {
		max-width: 425px;
		min-width: 425px
	}
	.medium-image {
		margin: 0 25px 0 0;
		width: 35 %
	}
	.medium-content {
		width: 46 %
	}
	.post.medium {
		margin: 30px 0
	}
	#not-found h2 {
		font-size: 160px;
		line-height: 160px
	}
	#not-found i {
		font-size: 155px
	}
	#not-found p {
		font-size: 22px;
		line-height: 32px
	}.client-list img {
		width: 130px;
		height: auto
	}
}
@media only screen and (max-width: 767px) {
	#sub-menu {
		float: left;
		margin: 5px 0 0 0
	}
	#tagline, .social-icons, .contact-details, .top-search, .slide-caption, #responsive, .left-corner, .right-corner {
		display: none;
	}
	.portfolio-item, .recent-blog {
		margin: 0 0 40px 0
	}
	.js.selectnav {
		display: block
	}
	#navigation {
		margin: 0;
		width: 100 % ;
		height: auto;
		background: transparent
	}
	.selectnav {
		cursor: pointer;
		padding: 10px;
		margin: 0 0 30px 30px;
		float: left;
		font-size: 14px
	}
	#header {
		min-height: 115px
	}
	#footer h4 {
		margin-top: 20px
	}
	#footer {
		padding-top: 20px
	}
	.page-title {
		padding-bottom: 30px!important
	}
	#breadcrumbs ul {
		float: left;
		padding: 0;
		margin-top: 5px;
		width: 100 %
	}
	.icon-box-container {
		margin: 30px 0 20px 0
	}
	.icon-box {
		margin-bottom: 20px
	}
	.page-title h2 {
		padding: 0;
		position: relative
	}
	.floated.sidebar {
		position: relative
	}
	.post {
		margin: 24px 0
	}
	.meta span {
		display: none
	}
	.line {
		margin: 0 0 0 30px;
		padding: 0 60px 0 0
	}
	.floated.sidebar.left, .floated.sidebar.right {
		-webkit-box-shadow: none;
		box-shadow: none;
		padding-bottom: 0;
		margin: 0;
		border: none
	}
	.floated.sidebar.left {
		border-bottom: 1px solid #e0e0e0
	}
	.floated.sidebar.right {
		border-top: 1px solid #e0e0e0
	}
	#portfolio-navi {
		float: left;
		margin-left: 0
	}
	#not-found h2 {
		font-size: 110px;
		line-height: 120px
	}
	#not-found i {
		font-size: 105px
	}
	#not-found p {
		font-size: 22px;
		line-height: 32px
	}
	body.container.columns.carousel-intro {
		float: none!important
	}
	.comment-by {
		margin-bottom: 20px
	}
	.caption-gray, .caption-color, .caption-transparent {
		display: none!important
	}
	.post.medium {
		margin: 40px 0
	}
	#logo-footer {
		margin: 20px 0
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#wrapper, #footer, #footer-bottom {
		width: 420px
	}
	.selectnav {
		width: 355px
	}
	.container.floated {
		width: 420px;
		padding: 0
	}
	.blank.floated {
		width: 360px;
		padding: 0 30px
	}
	.flickr-widget a {
		width: 73px;
		height: 73px;
		margin-right: 9px;
		margin-bottom: 9px
	}
	ol li ol.childlist.comment-des {
		float: right;
		width: 61 %
	}
	.comment-des {
		float: right;
		width: 67 %
	}
	#contact textarea {
		max-width: 340px;
		min-width: 340px
	}
	.medium-image {
		margin: 0 25px 0 0;
		width: 30 %
	}
	.medium-content {
		width: 46 %
	}
	.client-list img {
		width: 179px;
		height: auto
	}
}
@media only screen and (max-width: 479px) {
	#wrapper, #footer, #footer-bottom {
		width: 320px
	}
	.selectnav {
		width: 255px
	}
	.container.floated {
		width: 320px;
		padding: 0
	}
	.blank.floated {
		width: 260px;
		padding: 0 30px
	}
	.flickr-widget a {
		width: 69px;
		height: 69px;
		margin-right: 9px;
		margin-bottom: 9px
	}
	ol li ol.childlist.comment-des {
		float: right;
		width: 47 %
	}
	.comment-des {
		float: right;
		width: 54 %
	}
	#contact textarea {
		max-width: 240px;
		min-width: 240px
	}
	.medium-image {
		margin: 0 25px 0 0;
		width: 100 %
	}
	.medium-content {
		width: 80 %
	}
	.client-list img {
		width: 260px;
		height: auto
	}
}